<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<title>Local Bangumi Index(LBI)</title>
		<link rel="stylesheet" href="./node_modules/mdui/dist/css/mdui.min.css">
        <link rel="stylesheet" href="./app.css">
		<script src="./node_modules/jquery/dist/jquery.min.js"></script>
        <script>if (typeof module === 'object') {window.jQuery = window.$ = module.exports;};</script>
		<script src="./node_modules/mdui/dist/js/mdui.min.js"></script>
        <script src="./node_modules/jsrender/jsrender.min.js"></script>
        <script src="./node_modules/moment/moment.js"></script>
	</head>
    <script id="tmpl_recent_bgm" type="text/x-jsrender">
        {{if bgms.length != 0}}
        {{for bgms}}
        <div class="mdui-card c-card-recent mdui-hoverable">
            <div class="mdui-card-media" onclick="show_bgm_info('{{:name}}', 0)">
                <img class="c-card-recent-img" src="{{:~get_img_folder_path()+info.img}}"/>
                <div class="mdui-card-media-covered">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title mdui-text-truncate">{{:name}}</div>
                    <div class="mdui-card-primary-subtitle">看到第{{:status.ep_id}}话</div>
                </div>
                </div>
            </div>
        </div>
        {{/for}}
        {{else}}
            <div class="mdui-center mdui-typo-caption-opacity mdui-m-t-3">ᶘ ᵒᴥᵒᶅ没有数据</div>
        {{/if}}
    </script>
    <script id="tmpl_status" type="text/x-jsrender">
        {{if bgms.length != 0}}
        {{for bgms ~index=#getIndex()}}
        <div id="c-status-list">
            <div class="c-card-status">
                <img class="c-card-status-img" src="{{:~get_img_folder_path()+info.img}}"/>
                <div class="c-card-status-body">
                    <div class="mdui-typo-title mdui-m-t-2 mdui-m-b-1">{{:name}}</div>
                    <div class="mdui-typo-caption-opacity mdui-m-b-2">上次观看：{{:status.date}}</div>
                    <div class="mdui-btn-group" data-status-belong="{{:name}}">
                        {{for info.eps}}
                            <button type="button" onclick="ui_updata_bgm_status(this)" class="mdui-btn mdui-text-color-theme-text" data-status-ep="{{:#getIndex()+1}}" mdui-tooltip="{content: '{{:#data}}', position: 'top', delay: 500}">{{:#getIndex()+1}}</button>
                        {{/for}}
                    </div>
                </div>
            </div>
        </div>
        {{/for}}
        {{else}}
            <div class="mdui-center mdui-typo-caption-opacity mdui-m-t-3">ᶘ ᵒᴥᵒᶅ没有本地进度数据</div>
        {{/if}}
    </script>
    <script id="tmpl_bgm_card_sm" type="text/x-jsrender">
        {{if bgms.length != 0}}
        {{for bgms}}
        <div class="c-card" onclick="show_bgm_info('{{:name}}', {{:~root.page_id}})">
            <img class="c-card-img c-hover-scale" src="{{:~get_img_folder_path()+info.img}}"/>
            <div class="c-card-body">
                <div class="mdui-typo-caoption">{{:name}}</div>
            </div>
        </div>
        {{/for}}
        {{else}}
            <div class="mdui-center mdui-typo-caption-opacity mdui-m-t-3">ᶘ ᵒᴥᵒᶅ没有数据</div>
        {{/if}}
    </script>
    <script id="tmpl_bgm_info" type="text/x-jsrender">
        <div class="c-bgm-info">
            <img class="c-bgm-img" src="{{:~get_img_folder_path()+bgm.info.img}}"/>
            <div class="mdui-m-t-2 mdui-m-b-1 mdui-typo-headline">{{:bgm.info.name_cn}}</div>
            <div class="mdui-m-b-2 mdui-typo-caption-opacity">{{:bgm.info.name}}</div>
            <div><span class="mdui-typo-caption-opacity">源文件名：</span><span class="mdui-typo-caption">{{:bgm.name}}</span></div>
            <div class="mdui-m-b-2"><span class="mdui-typo-caption-opacity">匹配到：</span><span class="mdui-typo-caption">{{:bgm.info.url}}</span></div>
            <div><span class="mdui-typo-caption-opacity">话数：</span><span class="mdui-typo-caption">{{:bgm.info.eps_count}}</span></div>
            <div><span class="mdui-typo-caption-opacity">放送开始：</span><span class="mdui-typo-caption">{{:bgm.info.air_date}}</span></div>
            <div>
                <span class="mdui-typo-caption-opacity">演出：</span>
                <span class="mdui-typo-caption c-bgm-text" id="c-bgm-info-actor">
                    {{for bgm.info.actors}}{{:#data}},{{/for}}
                </span>
            </div>
            <div>
                <span class="mdui-typo-caption-opacity">Staff：</span>
                <span class="mdui-typo-caption c-bgm-text" id="c-bgm-info-staff">
                    {{for bgm.info.staff}}{{:#data}},{{/for}}
                </span>
            </div>
            <button class="mdui-btn mdui-m-t-2 mdui-m-b-2 mdui-btn-block mdui-color-theme" onclick="exec_open_file('{{:bgm.path}}')">打开目录</button>
            <div class="mdui-textfield">
                <input type="text" class="mdui-textfield-input" placeholder="subject id" id="reinstall-input-id"/>
                <div class="mdui-textfield-helper">输入动画<i>subject id</i></div>
            </div>
            <button class="mdui-btn mdui-m-t-2 mdui-m-b-2 mdui-btn-block mdui-color-theme" onclick="reinstall_bgm('{{:bgm.name}}','{{:bgm.path}}')">手动匹配</button>
        </div>
        <div class="c-bgm-body mdui-m-r-3">
            <ul class="mdui-list" mdui-collapse="{accordion: true}">
                {{if status && status.ep_id < files.sorted_files.length}}
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">play_arrow</i>
                    <div class="mdui-list-item-content" onclick="exec_open_file('{{:~root.bgm.path}}/{{:~root.files.sorted_files[#getIndex()]}}', {{:status.ep_id+1}}, '{{:~root.bgm.name}}')">继续观看<span class="mdui-typo-caption-opacity mdui-m-l-1">看到第{{:status.ep_id}}话，播放第{{:status.ep_id+1}}话</span></div>
                </li>
                {{/if}}
                {{if files.sorted_files.length!=0 && files.sorted_files.length==bgm.info.eps_count}}
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">history</i>
                    <div class="mdui-list-item-content">同步进度</div>
                    <label class="mdui-switch">
                      <input id="input-sync" type="checkbox" checked/>
                      <i class="mdui-switch-icon"></i>
                    </label>
                </li>
                {{/if}}
                <li class="mdui-collapse-item mdui-collapse-item-open">
                    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                      <i class="mdui-list-item-icon mdui-icon material-icons">playlist_play</i>
                      <div class="mdui-list-item-content">剧集</div>
                      <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        {{if files.sorted_files.length!=0 && files.sorted_files.length==bgm.info.eps_count}}
                        {{for bgm.info.eps}}
                        <li class="mdui-list-item mdui-ripple" onclick="exec_open_file('{{:~root.bgm.path}}/{{:~root.files.sorted_files[#getIndex()]}}', {{:#getIndex()+1}}, '{{:~root.bgm.name}}')">
                            <div class="mdui-list-item-content"><span class="mdui-typo-caption-opacity mdui-m-r-1">第{{:#getIndex()+1}}话</span>{{:#data}}</div>
                        </li>
                        {{/for}}
                        {{else}}
                        <li class="mdui-list-item mdui-ripple">
                            <div class="mdui-list-item-content">剧集匹配失败</div>
                        </li>
                        {{/if}}
                    </ul>
                </li>
                <li class="mdui-collapse-item">
                    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                      <i class="mdui-list-item-icon mdui-icon material-icons">folder</i>
                      <div class="mdui-list-item-content">文件</div>
                      <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        {{for files.files}}
                        <li class="mdui-list-item mdui-ripple" onclick="exec_open_file('{{:~root.bgm.path}}/{{:#data}}')">
                            <div class="mdui-list-item-content">{{:#data}}</div>
                        </li>
                        {{/for}}
                    </ul>
                </li>
            </ul>
        </div>
    </script>
    <script id="tmpl_search_item_tags" type="text/x-jsrender">
        <li class="mdui-list-item mdui-ripple" onclick="input_tag('{{:#data}}')">{{:#data}}</li>
    </script>
    <script id="tmpl_search_item_tags_all" type="text/x-jsrender">
        <li class="mdui-typo-caption-opacity mdui-list-item-two-line">系统已自动添加 年份、Staff、声优/演出 标签，键入以搜索标签</li>
    </script>
    <script id="tmpl_folders" type="text/x-jsrender">
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-avatar mdui-icon material-icons">folder</i>
            <div class="mdui-list-item-content">
                <div class="mdui-list-item-title">{{:#data}}</div>
            </div>
            <i class="mdui-list-item-icon mdui-icon material-icons" onclick="ui_reinstall_folder('{{:#data}}')">delete</i>
            <i class="mdui-list-item-icon mdui-icon material-icons" onclick="ui_sync_folder('{{:#data}}')">refresh</i>
        </li>
    </script>
	<body class="mdui-theme-layout-auto mdui-theme-primary-yellow mdui-drawer-body-left mdui-appbar-with-tab mdui-appbar-with-toolbar" onload="run()">
        <div class="mdui-container-fluid">
            <div class="mdui-appbar mdui-appbar-fixed">
                <div class="mdui-toolbar mdui-color-theme">
                    <a mdui-drawer="{target: '#main-drawer', swipe: true}" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>
                    <a href="javascript:;" class="mdui-typo-title">Local Bangumi Index (LBI)</a>
                    <div class="mdui-toolbar-spacer"></div>
                </div>
                <div class="mdui-tab mdui-color-theme" mdui-tab id="tab">
                  <a href="#t-start" class="mdui-ripple mdui-ripple-white">开始</a>
                  <a href="#t-index"  onclick="switch_to_bgm_info()" class="mdui-ripple mdui-ripple-white">归档</a>
                  <a href="#t-status" onclick="switch_to_status()" class="mdui-ripple mdui-ripple-white">进度</a>
                  <a href="#t-folder" class="mdui-ripple mdui-ripple-white">资料库</a>
                </div>
            </div>
            <div class="mdui-drawer mdui-color-theme" id="main-drawer">
                <ul class="mdui-list">
                    <li class="mdui-list-item mdui-ripple" mdui-dialog="{target: '#dialog-about'}">
                        <i class="mdui-list-item-icon mdui-icon material-icons">info</i>
                        <div class="mdui-list-item-content">关于LBI</div>
                    </li>
                    <li class="mdui-list-item mdui-ripple" mdui-dialog="{target: '#dialog-settings'}">
                        <i class="mdui-list-item-icon mdui-icon material-icons">settings</i>
                        <div class="mdui-list-item-content">设置</div>
                    </li>
                    <div class="mdui-divider"></div>
                    <li class="mdui-list-item mdui-ripple" onclick="ui_updata_all_folders()">
                        <i class="mdui-list-item-icon mdui-icon material-icons">data_usage</i>
                        <div class="mdui-list-item-content">更新资料库</div>
                    </li>
                    <li class="mdui-list-item mdui-ripple" onclick="ui_login_bgm()">
                        <i class="mdui-list-item-icon mdui-icon material-icons">account_circle</i>
                        <div class="mdui-list-item-content" id="bgm-login-name">登录Bangumi</div>
                    </li>

                </ul>
            </div>
            <div id="t-start">
                <div class="c-gallery">
                    <div class="mdui-typo-display-1-opacity c-title">最近</div>
                    <div class="c-content-recent" id="c-recent">
                    </div>
                </div>
                <div class="c-gallery">
                    <div class="mdui-typo-display-1-opacity c-title">全部</div>
                    <div class="c-content" id="c-all-bgms">
                    </div>
                </div>
            </div>
            <div id="t-index">
                <div id="c-bgm-search">
                    <div class="c-search">
                        <div class="mdui-textfield mdui-textfield-floating-label">
                            <i class="mdui-icon material-icons">search</i>
                            <label class="mdui-textfield-label">搜索</label>
                            <input id="input-search-text" class="mdui-textfield-input" type="search"/>
                        </div>
                        <div class="mdui-textfield mdui-textfield-floating-label">
                            <i class="mdui-icon material-icons">label_outline</i>
                            <label class="mdui-textfield-label">搜索标签</label>
                            <input id="input-search-tag" class="mdui-textfield-input" type="search"/>
                        </div>
                        <ul class="mdui-list mdui-list-dense" id="c-search-tags-res">
                            
                        </ul>
                    </div>
                    <div style="display: inline-block; width: 70%;">
                        <div class="c-search-res" id="c-search-bgms-res">
                        </div>
                    </div>
                </div>
                <div class="mdui-m-l-2 mdui-m-t-2" id="c-bgm-info">
                    <button type="button" class="mdui-btn mdui-fab mdui-fab-fixed" onclick="info_back()"><i class="mdui-icon material-icons">arrow_back</i></button>
                    <div class="c-bgm" id="c-bgm-info-body">
                        
                    </div>
                </div>
            </div>
            <div id="t-status">
                <div id="c-status-body">

                </div>
            </div>
            <div id="t-folder">
                <div class="c-gallery">
                    <div class="mdui-typo-display-1-opacity m-title">所有资料库</div>
                    <ul class="mdui-list" id="c-folders-body">
                        
                    </ul>
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme" onclick="ui_add_folder()">添加资料库</button>
                </div>
            </div>
            
        </div>
        <div class="mdui-dialog" id="dialog-remove-folder">
            <div class="mdui-dialog-title">确认删除资料库<span class="mdui-color-theme-accent" id="c-remove-folder-name"></span>？</div>
            <div class="mdui-dialog-content">将会删除此资料库下包含的动画信息（不会删除原文件）<br><span id="c-remove-folder-path"></span></div>
            <div class="mdui-dialog-actions">
              <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>
              <button class="mdui-btn mdui-ripple" mdui-dialog-confirm onclick="remove_dialog_confirmed()">确认删除</button>
            </div>
        </div>
        <div class="mdui-dialog" id="dialog-settings">
            <div class="mdui-dialog-title">设置</div>
            <div class="mdui-dialog-content">
                <div class="mdui-typo-headline mdui-m-b-2">动画数据源</div>
                <div class="mdui-typo-caption-opacity mdui-m-b-1">
                    建议使用默认的配置，如果稍后动画匹配出现问题在此更改
                </div>
                <select class="mdui-select" id="select-api">
                    <option value="https://api.bgm.tv" selected>https://api.bgm.tv</option>
                    <option value="http://api.bgm.tv">http://api.bgm.tv</option>
                    <option value="https://mirror.api.bgm.rin.cat/">https://mirror.api.bgm.rin.cat</option>
                    <option value="http://mirror.api.bgm.rin.cat">http://mirror.api.bgm.rin.cat</option>
                </select>
            </div>
            <div class="mdui-dialog-actions">
              <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>
              <button class="mdui-btn mdui-ripple" mdui-dialog-confirm onclick="update_settings()">更新</button>
            </div>
        </div>
        <div class="mdui-dialog" id="dialog-about">
            <div class="mdui-dialog-title">关于LBI</div>
            <div class="mdui-dialog-content">
                <p>
                    Local Bangumi Index(LBI)
                </p>
                <p>
                    一个本地动画管理软件
                </p>
                <p class="mdui-typo-caption mdui-m-t-2">
                    Github: https://github.com/MrAMS/LBI
                </p>
                <p class="mdui-typo-caption mdui-m-t-2">
                    Made with ❤ by 静谷(https://bgm.tv/user/santiego233)
                </p>
                <p class="mdui-typo-caption-opacity mdui-m-t-2">
                    Using node <script>document.write(process.versions.node)</script>,
                    Chrome <script>document.write(process.versions.chrome)</script>,
                    and Electron <script>document.write(process.versions.electron)</script>
                </p>
            </div>
            <div class="mdui-dialog-actions">
              <button class="mdui-btn mdui-ripple" mdui-dialog-close>确认</button>
            </div>
        </div>

        
	</body>
    <script src="./app.js"></script>
</html>

